{% load static %}
{% include 'base1.html' %}


<h1>WELCOME TO SRKR NOTICE BOARD</h1>
<p>This gives all the Important notices in SRKR</p>

<h2>IF U ARE NEW USER:</h2>
<center>
    <a href="{% url 'register' %}"><button type="button" ><font size=5% >REGISTER</font></button></a>
 </center>
<h2>IF U ARE ALREADY EXISTED ONE:</h2>
<center>
    <a href=""><button type="button" ><font size=5%>sign_in</font></button> </a>
</center>
<!--<img src="{% static 'gif.gif' %}" alt="data" style="width:100%;height:50%;">
<img src="{% static 'gif1.gif' %}" alt="data" style="width:100%;height:50%;">
<!--<img src="{% static 'image.jpg' %}" alt="plain color" width="500" height="600" >-->


{% include 'footer.html' %}