
{% include 'base.html' %}

<center>
<table border="line" bgcolor="black">
    <tr><td><font size=5%>Notice</font> </td><td><font size=5%>{{notice.notice}}</font></td></tr>
    <tr><td><font size=5%>Branch:</font></td><td><font size=5%>{{notice.branch}}</font></td></tr>
    <tr><td><font size=5%>Year:</font></td><td><font size=5%>{{notice.year}}</font></td></tr>
    <tr><td><font size=5%>Section:</font></td><td><font size=5%>{{notice.section}}</font></td></tr>
</table></center>


{% include 'footer.html' %}